pkgbase = honk
	pkgdesc = ActivityPub compatible server with web frontend.
	pkgver = 1.5.1
	pkgrel = 18
	epoch = 0
	url = https://humungus.tedunangst.com/r/honk
	install = honk.install
	changelog = honk.changelog
	arch = x86_64
	license = custom:ISC
	makedepends = go>=1.20
	makedepends = sqlite
	depends = go>=1.20
	depends = sqlite
	optdepends = nginx: for TLS and reverse proxying.
	provides = honk
	conflicts = honk
	conflicts = honk-hg
	options = strip
	options = docs
	options = zipman
	source = honk-1.5.1.tar::https://humungus.tedunangst.com/r/honk/d/honk-1.5.1.tgz
	sha512sums = e7372230ff13814346616b15a78e8586cf1a813e507437b2982e307aba92773b6dc16052c79d3924148a5f5a37fee02605747330e3ee38b70bec3137058647e3

pkgname = honk
