pkgbase = honk
	pkgdesc = ActivityPub compatible server with web frontend.
	pkgver = 1.4.2
	pkgrel = 16
	epoch = 0
	url = https://humungus.tedunangst.com/r/honk
	install = honk.install
	changelog = honk.changelog
	arch = x86_64
	license = custom:ISC
	makedepends = go>=1.20
	makedepends = sqlite
	depends = go>=1.20
	depends = sqlite
	optdepends = nginx: for TLS and reverse proxying.
	provides = honk
	conflicts = honk
	conflicts = honk-hg
	options = strip
	options = docs
	options = zipman
	source = honk-1.4.2.tar::https://humungus.tedunangst.com/r/honk/d/honk-1.4.2.tgz
	sha512sums = 3a4a0ac4004d7a0e60562a637b5b438f8d01177fd608fabed10a3e32c935e201bc064eb8ca3879befd608a37f11364164a536cdb05661f21cfc694a2d1c4bfaa

pkgname = honk
